<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/post']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="postForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-select formControlName="category" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let cat of categories" [value]="cat._id">
            {{cat.catName}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!postForm.get('category').valid && postForm.get('category').touched">Please select Category</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Post Title" formControlName="postTitle"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!postForm.get('postTitle').valid && postForm.get('postTitle').touched">Please enter Post Title</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Post Author" formControlName="postAuthor"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!postForm.get('postAuthor').valid && postForm.get('postAuthor').touched">Please enter Post Author</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Post Desc" formControlName="postDesc"
                [errorStateMatcher]="matcher"></textarea>
        <mat-error>
          <span *ngIf="!postForm.get('postDesc').valid && postForm.get('postDesc').touched">Please enter Post Description</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <ckeditor matCkeditor placehoder="Post Content" formControlName="postContent"></ckeditor>
          <mat-error>
            <span *ngIf="!postForm.get('postContent').valid && postForm.get('postContent').touched">Please enter Post Content</span>
          </mat-error>
        </mat-form-field>
      <div class="button-row">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Post Reference" formControlName="postReference"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!postForm.get('postReference').valid && postForm.get('postReference').touched">Please enter Post Ref</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Post Image URL" formControlName="postImgUrl"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!postForm.get('postImgUrl').valid && postForm.get('postImgUrl').touched">Please enter Post Image URL</span>
          </mat-error>
        </mat-form-field>
        <button type="submit" [disabled]="!postForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
