<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/category']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{category.catName}}</h2></mat-card-title>
      <mat-card-subtitle>{{category.catDesc}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{category.catImgUrl}}" alt="{{category.catName}}">
    <mat-card-content>
      <dl>
        <dt>Category Content:</dt>
        <dd [innerHTML]="category.catContent"></dd>
        <dt>Updated At:</dt>
        <dd>{{category.updated | date}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/category/edit', category?.id  || 'all']"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteCategory(category.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
